
@{
    ViewBag.Title = "NotAuthorized";
}

<br /><br />
<div class="alert alert-danger">
    <h2>Not Authorized</h2>
    Access denied - You are not authorized to complete this request
</div>
<div>
    <div class="col-md-1">@Html.ActionLink("Return to Home", "Index", "Home")</div>
    <div class="col-md-1">@Html.ActionLink("Return to Employees", "Index", "userDatas")</div>
</div>

    

