@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/homeLayout.cshtml";
}
<div id="landing-container">
    
    <div id="particles-js">
        <!--Content here-->
    </div>

   
    <script src="../js/particles.js"></script>
    <script src="../js/app.js"></script>

    
    
</div>


<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Welcome to Centric</p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who We Are</h2>
        <p>
            Across the United Sates, Centric has 12 locations with about a total of 600 employees. As a company we strive to create a company culture where our employees celebrate one another and build lifelong friendships. In order to achieve this company culture we promote leadership, teamwork, and  pursuing ones passion.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/our-story/">Learn more who we are&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What We Value</h2>
        <p>At Centric we reflect on our seven core values throughout our daily tasks and goals. The seven core values include Stewardship, Culture, Innovation, Greatergood, Integrity and openess, delivery excellence, and balance.  </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more about our core values&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What We Do</h2>
        <p>Centric provides clients with solutions to technilogical business problems that leads to new strategic strategy that will lead to a competitve advantge from competitiors. </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/how-we-work/">Learn more what we do &raquo;</a></p>
    </div>
</div>