@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/homeLayout.cshtml";
}


    <div id="particles-js">

    </div>
    <div id="landing-content">
        <div class="row vcenter">
            <div class="col-lg-12 typetext">
                <div class="thick-line"></div>
                <h1>
                    Values that make us
                </h1>
                <h1>
                    <a href="" class="typewrite" data-period="2000" data-type='[ "Connected", "Innovative", "Centric." ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
                <h3>
                    At Centric, we hold our values close and live by them everyday. If you recognize a colleague exemplifying our core values, please nominate them for recognition.
                </h3>
                @Html.ActionLink("Recognize Someone", "Create", "recognitions", null, new { @class = "rec-btn" })
            </div>
        </div>
        <div class="scroll-btn">
            <div class='icon-scroll'>
                
            </div>
            
        </div>
    </div>

    <script src="~/Content/particles.js"></script>
    <script src="~/Content/app.js"></script>

    <div class="value-wrapper">
        <div id="section02" class="container values">
            <div class="row">
                <div class="col-lg-12 values-header">
                    <center><div class="thick-line"></div></center>
                    <h1>Core Values</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Stewardship</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                <h4>Practice responsible stewardship</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Culture</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Invest in an exceptional culture</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Innovation</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Strive to innovate</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Balance</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Live a balanced life</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Delivery Excellence</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Commit to delivery excellence</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 value-item">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Greater Good</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Ignite passion for the greater good</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-4 value-item justify-content-center">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="flip-content">
                                    <h2>Integrity and Openness</h2>
                                </div>
                            </div>
                            <div class="flip-box-back">
                                <div class="flip-content">
                                    <h4>Embrace integrity and openness</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-8 value-item">
                        <div class="callout-values">
                            <div class="callout-inner">
                                <h2>Notice Any Examples?</h2>
                                <h5>Nominate colleagues for exemplifying our core values.</h5>
                                @Html.ActionLink("Recognize Someone", "Create", "recognitions", null, new { @class = "rec-btn-sm" })
                            </div>
                            
                        </div>
                    </div>
            </div>
            </div>
        </div>
  
    



        
        <script type="text/javascript">
            var TxtType = function (el, toRotate, period) {
                this.toRotate = toRotate;
                this.el = el;
                this.loopNum = 0;
                this.period = parseInt(period, 10) || 2000;
                this.txt = '';
                this.tick();
                this.isDeleting = false;
            };

            TxtType.prototype.tick = function () {
                var i = this.loopNum % this.toRotate.length;
                var fullTxt = this.toRotate[i];

                if (this.isDeleting) {
                    this.txt = fullTxt.substring(0, this.txt.length - 1);
                } else {
                    this.txt = fullTxt.substring(0, this.txt.length + 1);
                }

                this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

                var that = this;
                var delta = 200 - Math.random() * 100;

                if (this.isDeleting) { delta /= 2; }

                if (!this.isDeleting && this.txt === fullTxt) {
                    delta = this.period;
                    this.isDeleting = true;
                } else if (this.isDeleting && this.txt === '') {
                    this.isDeleting = false;
                    this.loopNum++;
                    delta = 500;
                }

                setTimeout(function () {
                    that.tick();
                }, delta);
            };

            window.onload = function () {
                var elements = document.getElementsByClassName('typewrite');
                for (var i = 0; i < elements.length; i++) {
                    var toRotate = elements[i].getAttribute('data-type');
                    var period = elements[i].getAttribute('data-period');
                    if (toRotate) {
                        new TxtType(elements[i], JSON.parse(toRotate), period);
                    }
                }
                // INJECT CSS
                var css = document.createElement("style");
                css.type = "text/css";
                css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
                document.body.appendChild(css);
            };

        </script>
